<h1>GamingOnABudget#index</h1>
<h2>This is the index page that the users will be first introduced to</h2>
<p>Contents of this page will be discussed to get the general layout</p>
<p>Find me in app/views/gaming_on_a_budget/index.html.erb</p>
